ckanext-dcat @ git+https://github.com/ckan/ckanext-dcat.git@v1.7.0 ; python_version >= "3.10" and python_version < "4.0"
ckanext-dcatde @ git+https://github.com/GovDataOfficial/ckanext-dcatde.git@v6.8.3 ; python_version >= "3.10" and python_version < "4.0"
ckanext-geoview @ git+https://github.com/ckan/ckanext-geoview.git@v0.2.2 ; python_version >= "3.10" and python_version < "4.0"
ckanext-harvest @ git+https://github.com/ckan/ckanext-harvest.git@v1.6.1 ; python_version >= "3.10" and python_version < "4.0"
ckanext-odp-le-harvester @ git+https://gitlab.opencode.de/connected-urban-twins/cut-leipzig-open-data-portal/ckanext-odp-le-harvester.git@f92149f9accc223151c240d58522dffde835bf58 ; python_version >= "3.10" and python_version < "4.0"
ckanext-odp-le-theme @ git+https://gitlab.opencode.de/connected-urban-twins/cut-leipzig-open-data-portal/ckanext-odp-le-theme.git@9d377f958a6afc97b0786c2b41561f621f2f234f ; python_version >= "3.10" and python_version < "4.0"
ckanext-pages @ git+https://github.com/ckan/ckanext-pages.git@v0.5.1 ; python_version >= "3.10" and python_version < "4.0"
ckanext-scheming @ git+https://github.com/ckan/ckanext-scheming.git@release-2.1.0 ; python_version >= "3.10" and python_version < "4.0"
ckanext-showcase @ git+https://github.com/ckan/ckanext-showcase.git@v1.7.0 ; python_version >= "3.10" and python_version < "4.0"
ckanext-spatial @ git+https://github.com/ckan/ckanext-spatial.git@v2.2.0 ; python_version >= "3.10" and python_version < "4.0"
gevent==21.12.0 ; python_version >= "3.10" and python_version < "4.0"
numpy==1.26.4 ; python_version >= "3.10" and python_version < "4.0"
shapely==2.0.4 ; python_version >= "3.10" and python_version < "4.0"
uwsgi==2.0.21 ; python_version >= "3.10" and python_version < "4.0"
